* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  color: #36383F;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #F4F5F8;
}

header {
  background-color: #fff;
}
header .menu {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
header .menu .logo {
  margin-right: 40px;
}
header .menu .top_menu {
  display: flex;
  align-items: center;
}
header .menu .top_menu li {
  margin-right: 30px;
}
header .menu .top_menu li a {
  color: #36383F;
  transition: all 0.3s ease;
}
header .menu .top_menu li a:hover {
  color: #F04716;
}
header .menu .top_right {
  display: flex;
  align-items: center;
  margin-left: 70px;
}
header .menu .top_right li {
  margin-left: 16px;
}

main {
  background: #F4F5F8;
}
main .middle_menu {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
main .middle_menu .left_location {
  margin-right: 108px;
}
main .middle_menu .left_location a {
  color: #36383F;
  font-size: 13px;
  transition: all 0.3s ease;
}
main .middle_menu .left_location a img {
  margin-right: 2px;
}
main .middle_menu .left_location a:hover {
  color: #F04716;
}
main .middle_menu .middle_menu_center {
  display: flex;
  align-items: center;
  margin-right: 75px;
}
main .middle_menu .middle_menu_center li {
  margin-right: 20px;
}
main .middle_menu .middle_menu_center li a {
  color: #6E7284;
  font-size: 13px;
  transition: all 0.3s ease;
}
main .middle_menu .middle_menu_center li a:hover {
  color: #F04716;
}
main .middle_menu .middle_menu_right {
  display: flex;
  align-items: center;
}
main .middle_menu .middle_menu_right li {
  margin-right: 20px;
}
main .middle_menu .middle_menu_right li:nth-child(2) a {
  color: #4788FF;
  font-size: 13px;
}
main .middle_menu .middle_menu_right li:nth-child(2):hover {
  color: #F04716;
}
main .middle_menu .middle_menu_right li a {
  color: #36383F;
  font-size: 15px;
  letter-spacing: 0.3px;
}
main .middle_menu .middle_menu_right li a img {
  margin-right: 2px;
}
main .middle_menu .middle_menu_right li a:hover {
  color: #F04716;
}

.bottom_menu {
  display: flex;
  align-items: center;
  padding: 30px 0;
  background-color: #FFFFFF;
}
.bottom_menu .logo {
  display: flex;
  align-items: center;
  margin-right: 134px;
}
.bottom_menu .logo .logo_img {
  margin-right: 10px;
}
.bottom_menu .logo .logo_text .logo_text_big {
  font-size: 35px;
  font-weight: bold;
  color: #F04716;
}
.bottom_menu .logo .logo_text .logo_text_small {
  font-size: 10px;
  font-weight: bold;
  color: #0A4ECB;
}
.bottom_menu .bottom_menu_form {
  display: flex;
  align-items: center;
}
.bottom_menu .bottom_menu_form form {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
}
.bottom_menu .bottom_menu_form form img {
  position: absolute;
  top: 14px;
  left: 14px;
}
.bottom_menu .bottom_menu_form form input[type=text] {
  width: 500px;
  height: 46px;
}
.bottom_menu .bottom_menu_form form input[type=text]::-moz-placeholder {
  padding-left: 35px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(110, 114, 132);
}
.bottom_menu .bottom_menu_form form input[type=text]::placeholder {
  padding-left: 35px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(110, 114, 132);
}
.bottom_menu .bottom_menu_form .buy {
  display: flex;
  align-items: center;
}
.bottom_menu .bottom_menu_form .buy a {
  margin-right: 10px;
}
.bottom_menu .bottom_menu_form .buy .buy_bottom {
  display: flex;
  align-items: center;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  padding: 6px 15px 6px 10px;
}
.bottom_menu .bottom_menu_form .buy .buy_bottom .buy_buttom_text .buy_bottom_recuve a {
  font-size: 13px;
  font-weight: 500;
  color: rgb(110, 114, 132);
}
.bottom_menu .bottom_menu_form .buy .buy_bottom .buy_buttom_text .buy_buttom_quantity {
  font-size: 11px;
  font-weight: 400;
  color: rgb(163, 166, 178);
}

.prime_menu {
  background-color: #0A4ECB;
}
.prime_menu ul {
  display: flex;
  align-items: center;
}
.prime_menu ul li {
  padding: 18px 30px;
}
.prime_menu ul li:nth-child(1) {
  margin-right: 10px;
}
.prime_menu ul li:nth-child(1) a img {
  margin-right: 10px;
}
.prime_menu ul li:nth-child(6) {
  margin-left: 20px;
}
.prime_menu ul li:nth-child(6) a {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 250, 47);
}
.prime_menu ul li:nth-child(6) a img {
  margin-right: 6px;
}
.prime_menu ul li:hover {
  background-color: #04358F;
}
.prime_menu ul li a {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.content {
  margin: 20px 0 60px 0;
}
.content .content_left_img {
  margin: 0 0 0 0;
  background: url("../img/content_img_01.png") no-repeat;
  width: 780px;
  height: 480px;
  padding: 60px 247px 0 50px;
}
.content .content_left_img .content_left_title {
  font-size: 40px;
  font-weight: 900;
  line-height: 49px;
  background: linear-gradient(90deg, #0A4ECB 0%, #4788FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.content .content_left_img .content_left_text {
  color: #36383F;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
}
.content .content_left_img .content_left_btn {
  border-radius: 12px;
  background: linear-gradient(90deg, #F04716 0%, #FFC62F 100%);
  display: inline-flex;
  padding: 20px 36px;
  justify-content: center;
  align-items: center;
  transition: all 0.9s ease;
}
.content .content_left_img .content_left_btn:hover {
  background: linear-gradient(90deg, #FFC62F 0%, #F04716 100%);
}
.content .content_left_img .content_left_btn a {
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
}
.content .content_right_img {
  margin-left: 50px;
}
.content .content_right_img .content_right_img_one {
  background: url("../img/content_img_02.png") no-repeat;
  padding: 30px 100px 30px 30px;
  width: 380px;
  height: 230px;
}
.content .content_right_img .content_right_img_one .content_right_title {
  color: #36383F;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  margin-bottom: 20px;
}
.content .content_right_img .content_right_img_one .content_right_text {
  color: #36383F;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}
.content .content_right_img .content_right_img_one .content_right_btn {
  color: #0A4ECB;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
}
.content .content_right_img .content_right_img_two {
  background: url("../img/content_img_03.png") no-repeat;
  padding: 30px 100px 30px 30px;
  width: 380px;
  height: 230px;
  margin-top: 20px;
}
.content .content_right_img .content_right_img_two .content_right_title {
  color: #36383F;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  margin-bottom: 20px;
}
.content .content_right_img .content_right_img_two .content_right_text {
  color: #36383F;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}
.content .content_right_img .content_right_img_two .content_right_btn {
  color: #0A4ECB;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
}

.walls {
  margin-bottom: 60px;
}
.walls .walls_block .walls_block_title {
  color: #36383F;
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 20px;
}
.walls .walls_block .card_flex {
  display: flex;
  align-items: center;
}
.walls .walls_block .card_flex .walls_block_card {
  border-radius: 12px;
  background: #FFF;
  width: 280px;
  height: 520px;
  padding: 20px;
  margin-right: 30px;
  transition: all 0.5s ease-in;
}
.walls .walls_block .card_flex .walls_block_card:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.walls .walls_block .card_flex .walls_block_card .walls_block_card_text {
  margin-top: 10px;
  color: #36383F;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 36px;
}
.walls .walls_block .card_flex .walls_block_card .walls_block_card_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walls_mini .walls_mini_card_title {
  color: #36383F;
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 20px;
}
.walls_mini .walls_mini_card_flex {
  display: flex;
  align-items: center;
}
.walls_mini .walls_mini_card_flex .walls_mini_card {
  width: 280px;
  height: 396px;
  border-radius: 12px;
  background: #FFF;
  padding: 20px;
  margin-right: 30px;
}
.walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_img {
  margin-bottom: 10px;
}
.walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_text {
  color: #36383F;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
}
.walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_all .walls_mini_card_all_price {
  color: #36383F;
  font-size: 21px;
  font-weight: 400;
}
.walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_all .walls_mini_card_all_price p {
  color: #A3A6B2;
  font-size: 15px;
  font-weight: 400;
  text-decoration-line: strikethrough;
  padding: 0;
  margin: 0;
}
.walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_all .walls_mini_card_all_price span {
  color: #F04716;
  font-size: 21px;
  font-weight: 400;
}

.heavy_walls_mini {
  margin-top: 60px;
}
.heavy_walls_mini .walls_mini_card_title {
  color: #36383F;
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 20px;
}
.heavy_walls_mini .walls_mini_card_flex {
  display: flex;
  align-items: center;
}
.heavy_walls_mini .walls_mini_card_flex .walls_mini_card {
  width: 280px;
  height: 396px;
  border-radius: 12px;
  background: #FFF;
  padding: 20px;
  margin-right: 30px;
}
.heavy_walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_img {
  margin-bottom: 10px;
}
.heavy_walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_text {
  color: #36383F;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
}
.heavy_walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heavy_walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_all .walls_mini_card_all_price {
  color: #36383F;
  font-size: 21px;
  font-weight: 400;
}
.heavy_walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_all .walls_mini_card_all_price p {
  color: #A3A6B2;
  font-size: 15px;
  font-weight: 400;
  text-decoration-line: strikethrough;
  padding: 0;
  margin: 0;
}
.heavy_walls_mini .walls_mini_card_flex .walls_mini_card .walls_mini_card_all .walls_mini_card_all_price span {
  color: #F04716;
  font-size: 21px;
  font-weight: 400;
}

.category .category_title {
  color: #36383F;
  font-size: 31px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 20px;
}
.category .category_flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.category .category_flex .category_cart {
  border-radius: 12px;
  background: #FFF;
  width: 280px;
  height: 230px;
  padding: 40px 68px;
  text-align: center;
  margin-right: 30px;
  transition: all 0.5s ease-in;
}
.category .category_flex .category_cart:hover {
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 15px 25px 0px rgba(48, 63, 115, 0.15);
}
.category .category_flex .category_cart:hover .category_cart_title {
  color: #0A4ECB;
}
.category .category_flex .category_cart:hover .category_cart_img {
  color: #0A4ECB;
}
.category .category_flex .category_cart .category_cart_img {
  margin-bottom: 15px;
}
.category .category_flex .category_cart .category_cart_title {
  color: #36383F;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
}/*# sourceMappingURL=style.css.map */
